.vscode*
desktop.ini
.DS_Store

private
tests
build
release
debug

__pycache__
une
libunetest
*.dSYM
*.exe
*.exe.stackdump
*.ilk
*.pdb
*.dll
*.so

testing
!testing/test.py
test.sh

une_report_return.txt
une_report_status.txt
*.log

make.sh
